<div class="containerContent">
  <div class="header">
    <div  fxLayout="row" fxLayoutGap fxFlexFill fxLayoutAlign="space-between center" fxLayout>
      <div class="logo">
        <img src="../../assets/icon/logo_icon.png" alt="logo">
      </div>
      <div>
        <div class="search">
          <input width="100px" placeholder="Nhập tìm kiếm..."/>
        <i class="material-icons">search</i>
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li *ngFor="let item of menu" [class.phase-active]="activeButton === item.activeButton">
          <a (click)="addClassActive(item.activeButton)" [routerLink]="item.link" [state]="{ id:item.activeButton }">{{item.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <div class="footer" style="text-align: center;">
      <p class="link">
        <a style="padding-right: 20px;" href="http://">https://www.facebook.com/</a>
        <a href="http://">nhahangvuonbatui@gmail.com</a>
      </p>
      <p>
        <span>Ẩm Thực Vườn Ba Tui</span><span class="style-italic">Kính Chào Quý Khách</span>
      </p>
    </div>
  </div>
  <div class="callNow">
    <button (click)="callNow()" type="button" class="btn btn-danger">
      <i class="material-icons">local_phone</i> <br>
    </button>
  </div>
</div>