<div style="margin-top: 20px;">
  <h2>THÔNG TIN ĐỊA CHỈ QUÁN</h2>
  <div fxLayout="row" fxLayoutGap="20px" fxFlexFill fxLayout>
    <div fxFlex="30">
      <h3>ẨM THỰC VƯỜN BA TUI
        BIÊN HÒA</h3>
      <p>số 1 Tô Ký, p Tân Chánh Hiệp,
        quận 12, ,tp. Biên Hòa</p>
      <p class="contact" fxLayout="row" fxLayoutGap="5px">
        <i class="material-icons">local_phone</i>
        <span> (028) 7100 0565</span>
      </p>
      <p fxLayout="row" fxLayoutGap="5px">
        <span class="openTime">OPEN</span>
        <span> Mở cửa 7:00 – 23:00</span>
      </p>
      <p fxLayout="row" fxLayoutGap="5px">
        <i class="material-icons">wifi</i>
        <span>wifi miễn phí</span>
      </p>
      <p fxLayout="row" fxLayoutGap="5px">
        <i class="material-icons">credit_card</i>
        <span>Thanh toán bằng thẻ</span>
      </p>
    </div>
    <div fxFlex="70">
      <app-map-view></app-map-view>
    </div>
  </div>
</div>