<div fxLayout="row" fxLayout fxLayoutGap="10px">
  <div>
   <ul>
    <li *ngFor="let item of categories" (click)="showMenu(item.id)">
      {{item.title}}
    </li>
   </ul>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px">
    <div *ngFor="let menu of menuList" class="card" style="width: 100px;" fxFlex="30">
      <img [src]="menu.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
